/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 화면 전체 높이 사용 */
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    flex-grow: 1; /* 남은 공간을 모두 차지하도록 함 */
    padding: 2rem;
    text-align: center;
}

#message {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #007bff;
}

button {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005f7f;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto; /* main이 남은 공간 차지 후 가장 아래에 배치 */
}